@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 100px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Exo', sans-serif;
    color: var(--clr-neon);
    animation:transitionIn 0.75s;
  }
  
  .neon-button {
    font-size: 2rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: absolute;
    right: 73%;
    bottom:90%;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    background:var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  .container{
    width:200px;
    height:200px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top:6rem;
    left:27rem;
    }
    
    .container img{
    max-width: 100%;
    filter: grayscale(.4);
    transition: .3s;
    padding-left: -0rem;
    }
    
    .container img:hover{
    filter: grayscale(0);
    transform: scale(1.3);   
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform:rotateY(-10px);
    }
    to {
        opacity:1;
        transform:rotateX(0)
    }
}
.profile_name{
    color:white;
    position: absolute;
    left: 49.3%;
    bottom: 75%;
    scale: 150%;
}
.personal-text{
    color:white;
    position:absolute;
    left: 45%;
    bottom: 82%;
    scale: 100%;
}
.gmail{
    color:white;
    position:absolute;
    left:38.9%;
    bottom:69%;
    scale: 50%;
}
.profile-icon{
    width: 36px;
    position:absolute;
    right: 55.5%;
    bottom: 83%;
    cursor: pointer;
    transition: .3s;
}
.profile-icon:hover{
    transform: scale(1.3);
    z-index: 2;
}
.number-description{
    color:white;
    position: absolute;
    right: 25%;
    bottom: 69%;
    scale: 50%;
}
.address{
    color:white;
    position: absolute;
    scale:50%;
    right:7.9%;
    bottom:65%;
}
.group{
    color:white;
    position:absolute;
    scale: 150%;
    right: 65.5%;
    bottom: 35%;
    line-height: 2;
}
.group-one{
    color:white;
    position:absolute;
    scale: 150%;
    right:25%;
    bottom: 42%;
    line-height: 2;
}
.gmail-icon{
    position: absolute;
    width: 20px;
    right: 55.2%;
    bottom: 70.6%;
    cursor: pointer;
    transition: .3s;
}
.gmail-icon:hover{
    transform: scale(1.3);
    z-index: 2;
}
.call-icon{
    position:absolute;
    width:20px;
    right:35.7%;
    bottom: 70.9%;
    cursor:pointer;
    transition: .3s;
}
.call-icon:hover{
    transform: scale(1.3);
    z-index: 2;
}
.location-icon{
    position:absolute;
    width:20px;
    right:55.2%;
    bottom: 67%;
    cursor:pointer;
    transition: .3s;
}
.location-icon:hover{
    transform: scale(1.3);
    z-index: 2;
}
.facebook{
    color:white;
    position:absolute;
    bottom:20%;
    left:14.7%;
}
.youtube{
    color:white;
    position:absolute;
    bottom:13%;
    left:47.5%;
}
.instagram{
    color:white;
    position:absolute;
    bottom:20%;
    left:63%;
}
.facebook-icon{
    position: absolute;
    width:33px;
    bottom:20.6%;
    left:12.2%;
    cursor:pointer;
    transition: .3s;
}
.facebook-icon:hover{
    transform: scale(1.2);
    z-index: 2;
}
.youtube-icon{
    position: absolute;
    width:33px;
    bottom:13%;
    left:45%;
    cursor:pointer;
    transition: .3s;
}
.youtube-icon:hover{
    transform: scale(1.2);
    z-index: 2;
}
.instagram-icon{
    position: absolute;
    width:33px;
    bottom:20%;
    left:60.5%;
    cursor:pointer;
    transition: .3s;
}
.instagram-icon:hover{
    transform: scale(1.2);
    z-index: 2;
}